body {
    background: linear-gradient(-45deg, rgba(14, 17, 22, 1), rgba(20, 21, 24, 1), rgb(23, 35, 73));
    background-size: 400% 400%;
    animation: gradient 25s ease infinite;
    height: 100vh;
    color: rgb(255, 255, 255);
    font-family: Optima, Segoe, Segoe UI, Candara, Calibri, Arial, sans-serif;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

